*,
html {
    font-family: Helvetica, Arial, Sans-serif;
    margin: 0px;
}

/*NAV*/

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
}

nav div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 12px;
}

nav ul {
    display: block;
    list-style: none;
    width: fit-content;
}

nav li {
    padding-top: 25px;
    margin: auto 48px auto 18px;
    font-size: 20px;
    display: inline-block;
    color: #ffa6008a;
}

nav li:first-child,
nav li:hover {
    color: #ffa700;
    opacity: 100%;
    border-top: solid 5px #ffa700;
    cursor: pointer;
}

nav img:first-child {
    width: 70px;
    height: 62.79px;
    margin: 8px 0px 5px 38px;
    cursor: pointer;
}

nav div img {
    width: 50px;
    height: 50px;
    float: right;
    margin: auto 18px auto 18px;
    cursor: pointer;
}

/*HEADER */

header {
    margin: 78.8px 0px auto 0px;
    background-image: url("../pictures/background_img.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 880px;
    height: 980px;
}

header h1 {
    color: #ffa700;
    font-weight: bold;
    font-size: 68px;
    max-width: 700px;
}

header section p:first-of-type {
    color: white;
    font-size: 38px;
    margin: 30px auto 180px auto;
}

header section p:last-of-type {
    color: white;
    background: #ffa700;
    padding: 18px 38px 18px 38px;
    width: fit-content;
    border-radius: 108px;
    font-size: 38px;
}

header section p:last-of-type:hover {
    cursor: pointer;
}

.header_text {
    display: inline-block;
    margin: 180px auto auto 120px;
}

/*MAIN*/

.heading-filter-wrapper{
    display: flex;
    justify-content: center;
}

main h1 {
    text-align: center;
    font-family: helvetica;
    color: #FFA728;
    width: fit-content;
    display: flex;
    margin: auto auto 18px auto;
    position: relative

}

.filter-button {
    color: #FFA728;
    display: block;
    border: none;
    font-size: 22px;
    border-bottom: #FFA728 solid 2px;
    padding-bottom: 8px;
    cursor: pointer;
    height: fit-content;
    position: absolute;
    margin-left: 1500px;
    margin-right: 500px;

}

main h2 {
    text-align: center;
    font-family: helvetica;
    font-size: large;
}

main h3 {
    text-align: center;
    font-family: helvetica;
    font-weight: 100;
}

.small-container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1300px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img {
    width: 100%;
    cursor: pointer;
}

.rating {
    text-align: center;
    color: #FFA728;
}

.col-3 {
    flex-basis: 30%;
    min-width: 350px;
    max-width: 380px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container2 {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;

}

.testimonial {
    padding-top: 100px;

}

.testimonial h2:first-child {
    color: #FFA728;
    font-size: 32px;
    border-bottom: #FFA728 solid 5px;
    padding-bottom: 8px;
    width: fit-content;
    text-align: center;
    margin: auto auto 38px auto;
}

.see-more {
    color: #FFA728;
    background: white;
    width: fit-content;
    padding: 12px 48px 12px 48px;
    font-size: 28px;
    border: #FFA728 4px solid;
    border-radius: 100px;
    display: block;
    margin: 25px auto 40px auto;
    cursor: pointer;
}

.see-more:hover {
    background: #FFA728;
    color: white;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0, 5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3 {
    transform: translateY(-10px);

}

.col-3 p {
    font-size: 16px;
    margin: 12px 0;
    color: #777;
}

.add-shopping-cart {
    background: #FFA728;
    color: white;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 28px;
    border: #FFA728;
    padding: 10px 15px 10px 15px;
    border-radius: 18px;
    cursor: pointer;
}

.testimonial .col-3 h2 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.filter_open {
    height: 292px !important ; 
}

.filter-box {
    position: absolute;
    background: #FFA728;
    color: white;
    width: 100%;
    height: 0px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.filter h3 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 28px;
}

.filter {
    flex-direction: row;
}

.filter-specific {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filter-specific p {
    margin-bottom: 18px;
    font-size: 18px;
}

.filter-specific p:hover {
    cursor: pointer;
    columns: #d7d7d7;
}

.exclusive-article {
    background: #FFE7C5;
    padding: 58px 0px 58px 0px;
    margin-top: 28px;
}

.exclusive-article div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1580px;
}

.exclusive-article img {
    background: white;
    border-radius: 50%;
    padding: 28px;
    height: 200px;
    display: inline-block;
    margin: auto;
}

.exclusive-article section {
    display: inline-block;
    margin: auto;
}

.exclusive-article section p:first-child {
    font-weight: 300;
    font-size: 22px;
}

.exclusive-article section p:nth-child(2) {
    font-weight: 600;
    font-size: 58px;
    margin-bottom: 18px;
}

.exclusive-article section p:nth-child(3) {
    font-size: 18px;
    margin-bottom: 18px;
}

.exclusive-article section p:last-child {
    background: #FFA728;
    width: fit-content;
    border-radius: 30px;
    padding: 18px 48px 18px 48px;
    color: white;
    cursor: pointer;
}

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

.mobile_topbar {
    display: none;
}

#side_nav {
    display: none;
}


@media screen and (max-width: 880px) {

    .desktop_topbar {
        display: none;
    }

    .desktop_logo {
        display: none;
    }

    .mobile_topbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: auto;
        position: fixed;
        background: white;
        z-index: 6;
    }

    .mobile_topbar img {
        display: inline-block;
        width: 70px;
        height: 60px;
    }

    .mobile_logo {
        margin: 12px 0px 18px 12px;
    }

    .mobile_topbar div {
        display: flex;
        justify-content: space-between;
        height: 60px;
        margin: 12px 18px 0px 12px;
    }

    header {
        margin-top: 0px;
    }

    #open_button {
        appearance: none;
        border: none;
        background-color: transparent;
        font-weight: 600;
        color: #FFA728;
        font-size: 22px;
        display: inline-block;
        margin-right: 18px;
        cursor: pointer;
        z-index: 5;
    }

    #side_nav {
        position: fixed;
        overflow-x: hidden;
        width: 0;
        display: flex;
        list-style: none;
        flex-direction: column;
        text-align: center;
        background: #FFA728;
        line-height: 78px;
        padding-left: 0px;
        height: auto;
        transition: 0.5s ease-in-out;
        z-index: 7;
    }

    .nav_open {
        width: 100% !important;
    }

    #close_button {
        appearance: none;
        border: none;
        background-color: transparent;
        font-weight: 600;
        color: white;
        font-size: 22px;
        display: block;
        cursor: pointer;
        margin: 35px 88px 0px 0px;
        float: right;

    }

    #side_nav li p {
        font-size: 28px;
        color: white;
        cursor: pointer;
    }

    .filter-button {
        margin-left: 900px;
    }
/*FOOTER*/    
}
footer {
    background: rgb(19, 19, 19);
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;

}

footer p{
    color: #a7a5a5;
}

footer h2 {
    color: #fff;
    margin-bottom: 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 p:nth-child(3) {
    margin: 38px 0px 18px 0px;
    font-size: 20px;
}

.footer-col-2 strong {
    color: #FFA728;
}

.footer-col-2 input {
    font-size: 15px;
    padding: 8px 8px 8px 8px;
}

#submit_knop {
    color:white ;
    background: #FFA728;
    width: fit-content;
    display: inline-block;
    padding: 8px 22px 8px 22px;
    border-radius: 8px;
    margin-top: 18px;
    cursor: pointer;
}

.thanking_text {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 18px auto auto auto;
}

#email_text {
    font-size: 15px;
    color: #FFA728;
    display: inline-block;
    font-weight: 600;
}

#thank_you_text {
    font-size: 15px;
    display: inline-block;
    margin-left: 5px;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
flex-basis: 12%;
text-align: center;

}

.footer-col-3 li:hover , .footer-col-4 li:hover {
    color: #FFA728;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;

}

.copyright {
    text-align: center;
}

.container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}
